# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# VS files
debug
release
.vs
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.user.*
lib

# pyETRC & qETRC generated
system.json
config.json
sample.json
ReleaseNote.pdf

# ignore translation files, since no translation provided currently.
rsc/tr
tr/

customize.xml

!archive-script/*

# submodule / fetch content
external/ads


# CMake
build
out
out2022
CMakeSettings.json
RC*
