[submodule "external/Qt-Advanced-Docking-System"]
	path = external/Qt-Advanced-Docking-System
	url = https://github.com/CDK6182CHR/Qt-Advanced-Docking-System
[submodule "external/SARibbon"]
	path = external/SARibbon
	url = https://github.com/CDK6182CHR/SARibbon
